[submodule "ove-apps"]
	path = ove-apps
	url = https://github.com/ove/ove-apps
[submodule "ove-services"]
	path = ove-services
	url = https://github.com/ove/ove-services
[submodule "ove-ui"]
	path = ove-ui
	url = https://github.com/ove/ove-ui
[submodule "ove-asset-manager"]
	path = ove-asset-manager
	url = https://github.com/ove/ove-asset-manager
